In [6]:
#create csv file
import numpy as np
import pandas as pd
data1={'roll no':[1,2,3,4,5],'name':['Arun','Brun','Crun','Drun','Erun'],'Marks':[20,10,27,30,17]}
data1=pd.DataFrame(data1)
print(data1)
#to save csv file
data1.to_csv('Student1.csv')
print('dataset Student1.csv printing')
data1.head()

   roll no  name  Marks
0        1  Arun     20
1        2  Brun     10
2        3  Crun     27
3        4  Drun     30
4        5  Erun     17
dataset Student1.csv printing

   roll no  name  Marks
0        1  Arun     20
1        2  Brun     10
2        3  Crun     27
3        4  Drun     30
4        5  Erun     17

In [11]:
#create csv file 2
import numpy as np
import pandas as pd
data2={'D no':[10,11,12,13],'Dept':['Bsc','Msc','Mca','Bca'],'Point':[90,80,70,60]}
data2=pd.DataFrame(data2)
data2.to_csv('Dept.csv')
print(data2)

   D no Dept  Point
0    10  Bsc     90
1    11  Msc     80
2    12  Mca     70
3    13  Bca     60

In [15]:
#Merge two dataset
d1=pd.read_csv('Student1.csv')
d1.head()
df=pd.merge(data)

NameError: name 'data' is not defined